#navbar {
  width: 100%;
  z-index: 2;
  background-color: #191e20;
  padding: 0.5% 20%;
  font-size: 1.3em;

  @media screen and (max-width: 600px) {
    padding: 0.5% 10%;
  }

  ul {
    width: 100%;
    padding: 0;
    // background-color: red;
    direction: rtl;

    li {
      margin-left: 2%;

      a {
        color: rgb(168, 166, 166);
        transition: all ease-in-out 0.3s;

        &:hover {
          color: whitesmoke;
        }
      }
    }
  }
}
