<section id="footer">
  <div id="sm">
    <a href="https://www.facebook.com/HaShEm.BuZzEr/" target="_blank">
      <img id="facebook" src="assets/socialMedia/facebookLight.svg" alt="" />
    </a>

    <a href="https://www.instagram.com/hashem_buzer/" target="_blank">
      <img id="instagram" src="assets/socialMedia/instagramLight.svg" alt="" />
    </a>

    <a href="https://twitter.com/Hashem_Buzer" target="_blank">
      <img id="twitter" src="assets/socialMedia/twitterLight.svg" alt="" />
    </a>

    <a href="https://www.linkedin.com/in/hashem-buzer/" target="_blank">
      <img id="linkedin" src="assets/socialMedia/linkedinLight.svg" alt="" />
    </a>

    <a href="https://github.com/hashem-buzer" target="_blank">
      <img id="github" src="assets/socialMedia/githubtst1.svg" alt="" />
    </a>
  </div>

  <small
    >© Copyright 2020 <span> Hashem Buzer</span>. All rights reserved.</small
  >
</section>
