<div id="all">
  <h4 *ngIf="lang === 'ar'">في COVID-19</h4>
  <h4 *ngIf="lang === 'en'">COVID-19 in</h4>
  <!-- <h1>{{ data[data.length - 1].Country }}</h1> -->
  <div class="form-group">
    <select
      class="form-control countries"
      (change)="pickCountry($event.target.value)"
    >
      <optgroup class="countries" label="Location" *ngIf="locCountry">
        <option selected>{{ locCountry }}</option>
      </optgroup>

      <optgroup class="countries" label="Countries">
        <option *ngFor="let country of countriesArr">{{ country }}</option>
      </optgroup>
    </select>
  </div>

  <div id="cases" class="container">
    <div id="date" *ngIf="lang === 'ar'">
      اخر تحديث <b>{{ data[data.length - 1].Date | dateAgo }}</b>
    </div>

    <div id="date" *ngIf="lang === 'en'">
      last update <b>{{ data[data.length - 1].Date | englishDateAgo }}</b>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div id="active" class="divs">
          <div class="info">
            <h3>{{ data[data.length - 1].Active }}</h3>
            <p *ngIf="lang === 'ar'">الجارية حالياً</p>
            <p *ngIf="lang === 'en'">Active</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div id="confirmed" class="divs">
          <div class="info">
            <h3>{{ data[data.length - 1].Confirmed }}</h3>
            <p *ngIf="lang === 'ar'">تم التأكيد</p>
            <p *ngIf="lang === 'en'">Confirmed</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div id="deaths" class="divs">
          <div class="info">
            <h3>{{ data[data.length - 1].Deaths }}</h3>
            <p *ngIf="lang === 'ar'">حالات الوفاة</p>
            <p *ngIf="lang === 'en'">Deaths</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div id="recovered" class="divs">
          <div class="info">
            <h3>{{ data[data.length - 1].Recovered }}</h3>
            <p *ngIf="lang === 'ar'">حالات الشفاء</p>
            <p *ngIf="lang === 'en'">Recovered</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
